@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  margin: 0;
  padding: 0%;
  min-height: 100vh;
  background: linear-gradient(rgba(0,0,0,0.55),rgba(0,0,0,0.55)), url("https://i.postimg.cc/j5Xk5smD/3a965bd6beaf30ae6e056461ba124749.jpg");
  background-size: cover;
  background-position: center;
  color: #eaeaea;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  text-align: center;
  color: #f1d57a;
  letter-spacing: 2px;
  text-shadow: 0 2px 6px rgba(0, 0, 0, 0.4);
  font-size: 32px;
}

.fade {
  animation: fadeIn 0.5s ease-in-out;
}

.container {
  background: rgba(0,0,0,0.45);
  backdrop-filter: blur(3px);
  padding: 30px;
  border-radius: 15px;
  width: 100%;
  max-width: 420px;
  text-align: center;
  box-shadow: 0 10px 30px rgba(0,0,0,0.5);
}

h2 {
  margin-bottom: 20px;
  color: #7ff5e6;
}

.footer {
  text-align: center;
  margin-top: 15px;
}

/* Efek Petasan */
.fireworks {
  position: fixed;
  inset: 0;
  pointer-events: none;
  overflow: hidden;
  z-index: 999;
}

.firework {
  position: absolute;
  width: 6px;
  height: 6px;
  background: radial-gradient(circle, #ffd700, #ff3d00);
  border-radius: 50%;
  animation: explode 1.5s ease-out forwards;
}

/* Prize List */
.prize-list {
  max-height: 0;
  overflow: hidden;
  transition: max-height 1.5s ease, opacity 1.5s ease;
  opacity: 0;
  display: grid;
  grid-template-columns: 1fr;
  gap: 15px;
  margin: 20px;
}

.prize-list.active {
  max-height: 2000px;
  opacity: 1;
}

.prize-card {
  background: linear-gradient(rgba(0,0,0,0.35),rgba(0,0,0,0.35)), url(https://i.postimg.cc/0jGDYf7R/2bd5059090b02129a77588545e51b118.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 15px;
  padding: 18px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.6);
  border: 3px solid rgba(241,213,122,0.8);
}

.prize-icon {
  font-size: 30px;
  margin-bottom: 10px;
}

.prize-tittle {
  font-size: 18px;
  font-weight: 600;
  color: #ffd700;
  margin-bottom: 8px;
}

.prize-desc {
  font-size: 14px;
  color: #cccccc;
  margin-bottom: 10px;
  line-height: 1.5;
}

.prize-chance {
  display: inline-block;
  padding: 6px 14px;
  border-radius: 20px;
  font-size: 13px;
  font-weight: bold;
  background: #7ff5e6;
  color: #000;
}

strong {
  color: #ffd700;
}

/* ANGPAO */
.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.angpao {
  flex: 1 1 100px;
  max-width: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ffd700;
}

.angpao img {
  width: 100px;
  height: auto;
}

/* Modal */
.modal {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.7);
  align-items: center;
  justify-content: center;
}

.modal-content {
  background: #fff;
  color: #000;
  border-radius: 15px;
  width: 320px;
  text-align: center;
  padding: 20px;
}

.selected-angpao {
  width: 100%;
  display: flex;
  justify-content: center;
}

.image-wrap {
  position: relative;
  width: 200px;
  margin: 0 auto;
}

.image-wrap img {
  width: 200px;
  height: auto;
}

.selected-card {
  position: absolute;
  top: 85px;
  left: 50%;
  transform: translateX(-50%);
  width: 160px;
  height: 50px;
  background:linear-gradient(rgba(0,0,0,0.35),rgba(0,0,0,0.35)), url(https://i.postimg.cc/0jGDYf7R/2bd5059090b02129a77588545e51b118.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 8px 12px;
  border-radius: 8px;
  font-weight: bold;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  border: 2px solid rgba(241,213,122,0.8);
  z-index: 2;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffd700;
}

/* Button & Input Style */
button {
  width: 100%;
  padding: 12px;
  margin-top: 12px;
  border: none;
  border-radius: 25px;
  font-size: 16px;
  font-weight: bold;
  background: linear-gradient(135deg, #f3d36a, #f1a23a);
  color: #000;
  transition: all 0.3s ease;
}

button:active {
  transform: scale(0.85);
  box-shadow: 0 6px 15px rgba(255,215,0,0.4);
}

button:disabled {
  background: #888;
  cursor: not-allowed;
  box-shadow: none;
  transform: none;
}

input[type="text"] {
  width: 100%;
  padding: 12px;
  border-radius: 25px;
  border: none;
  outline: none;
  font-size: 16px;
  margin-bottom: 10px;
  text-align: center;
}

/* Result Page */
.top, .bot {
  background: rgba(241,213,122,0.2);
  text-align: center;
  font-size: 18px;
  margin: 5px;
  border-radius: 15px;
  padding: 18px;
}

a {
  text-decoration: none;
  color: #ffd700;
}

/* Confetti */
.confetti {
  position: fixed;
  width: 10px;
  height: 10px;
  top: -10px;
  animation: confetti-fall linear forwards;
  z-index: 999;
  opacity: 0.9;
}

/* keyframes animation */
@keyframes fadeIn {
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform: translateY(0); }
}

@keyframes explode {
  0% {
    transform: scale(0);
    opacity: 1;
  }

  80% {
    opacity: 0.5;
  }

  100% {
    transform: scale(15);
    opacity: 0;
  }
}

@keyframes confetti-fall {
  to {
    transform: translateY(110vh) rotate(360deg);
    opacity: 0;
  }
}
